.protected {
    background:#000;
    color:#fff;

    &__input {
        font-size: 12.5vw;
        line-height: 10.83333vw;
        letter-spacing: -0.01em;
        border: none;
        padding: 0;
        height: auto;
        margin: 0;
        background: transparent;
        color: rgba(255,255,255,0.5);

    }
    &__input::placeholder {
        color: rgba(255,255,255,0.5);
    }

    &__input:focus {
        outline:none;
    }

    &__form form {
        position:relative;
        transform: translateY(-1.4vw);
    }

    &__submit {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        background: no-repeat;
        border: none;
        z-index: 9;
        padding:0;
        height:100%;

        svg {
            height:100%;

            path{
                fill:rgba(255,255,255,0.5);
                transition: all 0.5s;
            }

        }
    }

    .active svg path {
        fill:#fff;
    }

}