.navigation {
    position: absolute;
    width: 100%;
    top: 5px;
    z-index:9;
    padding: 0 12px 0 10px;
    box-sizing: border-box;

    @include tablet {
        padding: 0 12px 0 11px;
    }

    &__link {
        display: inline-block;
    }

    &__text {
        padding: 0 36px;

        @include small-desktop {
            padding: 0 24px;
        }

        &--logo {
            padding-left: 0;
        }
    }
    
}